In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

./data\test.csv
./data\train.csv

In [4]:
train_data = pd.read_csv('./data/train.csv')
test_data = pd.read_csv('./data/test.csv')
train_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [6]:
train_data.rename(columns={'y':'subscribed'}, inplace=True)
test_data.rename(columns={'y':'subscribed'}, inplace=True)
train_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [10]:
print("Train data shape:", train_data.shape)
print("Test data shape:", test_data.shape)

Train data shape: (45211, 17)
Test data shape: (4521, 17)

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         45211 non-null  int64
 1   job         45211 non-null  object
 2   marital     45211 non-null  object
 3   education   45211 non-null  object
 4   default     45211 non-null  object
 5   balance     45211 non-null  int64
 6   housing     45211 non-null  object
 7   loan        45211 non-null  object
 8   contact     45211 non-null  object
 9   day         45211 non-null  int64
 10  month       45211 non-null  object
 11  duration    45211 non-null  int64
 12  campaign    45211 non-null  int64
 13  pdays       45211 non-null  int64
 14  previous    45211 non-null  int64
 15  poutcome    45211 non-null  object
 16  subscribed  45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [12]:
train_data.describe(include='all')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
count,45211.000000,45211,45211,45211,45211,45211.000000,45211,45211,45211,45211.000000,45211,45211.000000,45211.000000,45211.000000,45211.000000,45211,45211
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,blue-collar,married,secondary,no,NaN,yes,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,9732,27214,23202,44396,NaN,25130,37967,29285,NaN,13766,NaN,NaN,NaN,NaN,36959,39922
mean,40.936210,NaN,NaN,NaN,NaN,1362.272058,NaN,NaN,NaN,15.806419,NaN,258.163080,2.763841,40.197828,0.580323,NaN,NaN
std,10.618762,NaN,NaN,NaN,NaN,3044.765829,NaN,NaN,NaN,8.322476,NaN,257.527812,3.098021,100.128746,2.303441,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-8019.000000,NaN,NaN,NaN,1.000000,NaN,0.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,33.000000,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,8.000000,NaN,103.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,448.000000,NaN,NaN,NaN,16.000000,NaN,180.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,48.000000,NaN,NaN,NaN,NaN,1428.000000,NaN,NaN,NaN,21.000000,NaN,319.000000,3.000000,-1.000000,0.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,102127.000000,NaN,NaN,NaN,31.000000,NaN,4918.000000,63.000000,871.000000,275.000000,NaN,NaN

Splitting our dataset into features (what we use to predict) and classes (what we're predicting)¶

-Our dataset today is already split into train and test data. This is done so that our models can be tested on data that is has never seen before. This is an important step in training any model, and lets us accurately determine how well our model performs and will perform when we start to use it in the wild.
-The dataset is split into roughly 90% training and 10% testing data which is useful due to the complex nature of the problem meaning that more data is available for testing, in some cases it might be better to have more unseen data to test on but this split works well for our use case.
-We use all but the last column of the dataframe as features to train our models, and take the last column as the class we are trying to predict.
-We can write out the set of categorical columns and numerical columns here for future use.

In [13]:
train_features, train_classes = train_data.iloc[:,:-1], train_data['subscribed']
test_features, test_classes = test_data.iloc[:,:-1], test_data['subscribed']

In [14]:
num_features = ['age','balance','day','duration','pdays']
cat_features = ['job', 'marital','education','default','housing','contact','poutcome', 'month']

In [16]:
#scikit-learn is open-source machine learning library
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

-We do Scaling for numerical features and One-hot encoding for categorical features and the target class.
-Once we have done that we can join them into one DataFrame again.
SLIDE 4 HERE

The output range of the fit_transform() method depends on the specific scaler or normalization technique used. Different scalers in scikit-learn have different output ranges. Here are some common examples:

-StandardScaler:

The StandardScaler standardizes the features by removing the mean and scaling to unit variance.
The output range of fit_transform() with StandardScaler is not bounded to a specific range, but the transformed features will have a mean of 0 and a standard deviation of 1.

-MinMaxScaler:

The MinMaxScaler scales the features to a given range, typically [0, 1].
The output range of fit_transform() with MinMaxScaler is the specified range, which is [0, 1] by default.

-RobustScaler:

The RobustScaler removes the median and scales the data according to the quantile range (default is IQR: Interquartile Range).
The output range of fit_transform() with RobustScaler is not bounded to a specific range, but the transformed features will have a median of 0 and an interquartile range (IQR) of 1.

-Normalizer:

The Normalizer rescales each sample (row) to have a unit norm (length of 1).
The output range of fit_transform() with Normalizer is not bounded to a specific range, but each sample vector will have a Euclidean length (L2 norm) of 1.

-QuantileTransformer:

The QuantileTransformer transforms the features to follow a uniform or a normal distribution.
The output range of fit_transform() with QuantileTransformer depends on the chosen output distribution (uniform or normal) and the specified quantiles.

In [17]:
scaler = StandardScaler()

features_to_scale = pd.DataFrame(scaler.fit_transform(train_features[num_features]), columns=num_features)
features_to_scale

            age   balance       day  duration     pdays
0      1.606965  0.256419 -1.298476  0.011016 -0.411453
1      0.288529 -0.437895 -1.298476 -0.416127 -0.411453
2     -0.747384 -0.446762 -1.298476 -0.707361 -0.411453
3      0.571051  0.047205 -1.298476 -0.645231 -0.411453
4     -0.747384 -0.447091 -1.298476 -0.233620 -0.411453
...         ...       ...       ...       ...       ...
45206  0.947747 -0.176460  0.143418  2.791329 -0.411453
45207  2.831227  0.120447  0.143418  0.768224 -0.411453
45208  2.925401  1.429593  0.143418  3.373797  1.436189
45209  1.512791 -0.228024  0.143418  0.970146 -0.411453
45210 -0.370689  0.528364  0.143418  0.399328  1.476138

[45211 rows x 5 columns]

SLIDE 5 HERE

pd.get_dummies(train_features[cat_features]).astype(int) and understand what it does:

train_features[cat_features]: This part selects the categorical features from the train_features DataFrame. cat_features is likely a list or an array containing the names of the categorical columns in your dataset.

pd.get_dummies(train_features[cat_features]): This part performs one-hot encoding on the selected categorical features using the get_dummies function from the Pandas library.

One-hot encoding is a common technique used to convert categorical variables into a format that can be used by machine learning algorithms that expect numerical input. It creates binary (0 or 1) columns for each unique category in the categorical feature.

For example, if you have a categorical feature called "Color" with three unique values: "Red", "Green", and "Blue", get_dummies will create three new columns: "Color_Red", "Color_Green", and "Color_Blue". Each row will have a 1 in the column corresponding to its category and 0 in the other columns.

.astype(int): This part converts the data type of the resulting one-hot encoded columns from float to integer.
By default, get_dummies creates columns with float data types. However, since the values in these columns are either 0 or 1, it's more efficient and memory-friendly to store them as integers.

So, the complete code pd.get_dummies(train_features[cat_features]).astype(int) does the following:

Selects the categorical features from the train_features DataFrame.
Performs one-hot encoding on these categorical features, creating new binary columns for each unique category.
Converts the data type of the resulting one-hot encoded columns from float to integer.
The output of this code will be a new DataFrame containing the one-hot encoded categorical features, with each unique category represented by a separate column with integer values (0 or 1).

In [18]:
features_to_encode = pd.get_dummies(train_features[cat_features]).astype(int)
features_to_encode

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_dec,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45207,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45208,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45209,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45210,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [19]:
encoded_target_class = pd.get_dummies(train_classes, drop_first=True).astype(int)
encoded_target_class

       yes
0        0
1        0
2        0
3        0
4        0
...    ...
45206    1
45207    1
45208    1
45209    0
45210    0

[45211 rows x 1 columns]

In [20]:
preprocessed_data = pd.concat([features_to_scale, features_to_encode], axis=1)
preprocessed_data

,age,balance,day,duration,pdays,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,month_dec,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,1.606965,0.256419,-1.298476,0.011016,-0.411453,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,0.288529,-0.437895,-1.298476,-0.416127,-0.411453,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,-0.747384,-0.446762,-1.298476,-0.707361,-0.411453,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.571051,0.047205,-1.298476,-0.645231,-0.411453,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,-0.747384,-0.447091,-1.298476,-0.233620,-0.411453,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,-0.176460,0.143418,2.791329,-0.411453,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45207,2.831227,0.120447,0.143418,0.768224,-0.411453,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45208,2.925401,1.429593,0.143418,3.373797,1.436189,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45209,1.512791,-0.228024,0.143418,0.970146,-0.411453,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45210,-0.370689,0.528364,0.143418,0.399328,1.476138,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

Carrying out feature selection¶

Wrapper based approach
In wrapper based approaches, we evaluate a subset of features on the model we are using. Then we either add or remove features depending if they cause the model to perform better or worse.

The algorithm follows these steps:

-Create a features set (null feature set if using forward selection, all the features if using backward selection).
-Carry out the Machine learning algorithm on the set.
-Evaluate the importance of the chosen features.
-Change the set of features to a new subset (add the best performing feature if using forward selection, remove the least important feature if using backward selection).

For example, in Recursive Feature Elimination, we tell the algorithm how many features we want the model to end up having. Then it repeatedly fits the model and removes the least important feature from the dataset until we have the desired number of features.

In [21]:
from sklearn.feature_selection import RFE

model = LogisticRegression(solver='liblinear')
rfe = RFE(model, n_features_to_select=10)

In [22]:
from sklearn.exceptions import DataConversionWarning
import warnings
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

fit = rfe.fit(preprocessed_data, encoded_target_class)
print(fit.n_features_)
print(fit.support_)
print(fit.ranking_)

10
[False False False  True False False False False False False False False
 False  True False False False False False False False False False False
 False False False False False False  True False False  True  True False
 False  True False False False  True  True False False  True  True]
[38 31 30  1 37 17 23 21 12 33  9 25 27  1 32 35 22 26 14 29 10 16 34 24
 19 18 28  4 15 20  1  2  3  1  1 36  8  1 13  5  6  1  1 11  7  1  1]



Sure, let's explain the meanings of these three fields:

print(fit.n_features_):

n_features_ is an attribute of the RFE object after it has been fitted to the data.
It represents the number of features that were selected by the RFE algorithm.
In the code you provided, n_features_to_select was set to 10, so fit.n_features_ should print the value 10, indicating that 10 features were selected.
print(fit.support_):

support_ is a boolean mask or array that indicates which features were selected by the RFE algorithm.
It has the same length as the number of input features.
If support_[i] is True, it means that the i-th feature was selected by the RFE algorithm.
If support_[i] is False, it means that the i-th feature was not selected and was eliminated by the RFE algorithm.
This boolean mask can be useful for identifying and extracting the selected features from the original feature set.
print(fit.ranking_):

ranking_ is an array that provides the ranking or ordering of features based on their importance or contribution to the target variable.
The length of ranking_ is equal to the number of input features.
The values in ranking_ represent the ranking of each feature, with 1 being the most important feature, 2 being the second most important feature, and so on.
Features that were not selected by the RFE algorithm will have higher ranking values (closer to the number of input features).
This ranking can be useful for understanding the relative importance of features and potentially selecting a different number of top features based on their ranking.

In [23]:
feature_rank = pd.DataFrame({'columns':preprocessed_data.columns,
                            'ranking': fit.ranking_,
                            'selected':fit.support_})
result_features = feature_rank.loc[feature_rank['selected']==True]
result_features

             columns  ranking  selected
3           duration        1      True
13       job_student        1      True
30   contact_unknown        1      True
33  poutcome_success        1      True
34  poutcome_unknown        1      True
37         month_dec        1      True
41         month_jun        1      True
42         month_mar        1      True
45         month_oct        1      True
46         month_sep        1      True

Embedded approach

The embedded approach entails that the feature selection is done at the same time as the model training. Most models will have some way of determining how important a feature was when it was fitting the data. For example, in a linear or logistic regression model, the coefficients of the features will tell you how important they are. A small coefficient means that the feature has little importance to the model.

Some models, like LASSO regression, will enforce small coefficients to be equal to zero to make sure the model is as simple as possible.

SLIDE 6 HERE

The below logistic regression model has been set so that it eliminates the features with the least importance.

In [24]:
model_embedded = LogisticRegression(solver='liblinear', penalty='l1')

log_reg = model_embedded.fit(preprocessed_data, encoded_target_class)
feature_importance = pd.DataFrame({'feature':preprocessed_data.columns,
                                   'importance':log_reg.coef_[0]})

feature_importance['magnitude'] = feature_importance['importance'].abs()
feature_importance = feature_importance.sort_values('magnitude')
feature_importance.head(10)

              feature  importance  magnitude
14     job_technician    0.000000   0.000000
26         housing_no    0.000000   0.000000
23  education_unknown    0.000000   0.000000
28   contact_cellular    0.000000   0.000000
24         default_no    0.000000   0.000000
19     marital_single    0.000000   0.000000
35          month_apr    0.000000   0.000000
32     poutcome_other    0.000000   0.000000
0                 age    0.003393   0.003393
9      job_management    0.012319   0.012319

The two code snippets you provided are different approaches to feature selection in machine learning, specifically for logistic regression models. Let's compare them:

Previous Code:
    from sklearn.feature_selection import RFE

    model = LogisticRegression(solver='liblinear')
    rfe = RFE(model, n_features_to_select=10)
    fit = rfe.fit(preprocessed_data, encoded_target_class)



This code uses the Recursive Feature Elimination (RFE) technique from scikit-learn's feature_selection module. RFE is a wrapper method that recursively removes features from the model based on their importance or contribution to the target variable. It starts with the full set of features, fits the model, ranks the features based on their importance, and then removes the least important features. This process is repeated until the desired number of features (n_features_to_select=10) is reached.

New Code:
    model_embedded = LogisticRegression(solver='liblinear', penalty='l1')

    log_reg = model_embedded.fit(preprocessed_data, encoded_target_class)
    feature_importance = pd.DataFrame({'feature': preprocessed_data.columns,
                                    'importance': log_reg.coef_[0]})

    feature_importance['magnitude'] = feature_importance['importance'].abs()
    feature_importance = feature_importance.sort_values('magnitude')
    feature_importance.head(10)



This code uses an embedded feature selection method called Lasso (L1) regularization. Lasso is a type of regularization technique that adds a penalty term to the logistic regression objective function, which encourages sparse solutions (i.e., some coefficients become exactly zero). The penalty='l1' parameter in LogisticRegression enables Lasso regularization.

When you fit the logistic regression model with Lasso regularization (model_embedded.fit()), it automatically performs feature selection by setting the coefficients of less important features to zero. The remaining non-zero coefficients correspond to the features that are considered important by the model.

The code then creates a DataFrame feature_importance with the feature names and their corresponding coefficients (importance) from the fitted logistic regression model (log_reg.coef_[0]). It calculates the absolute magnitude of the coefficients, sorts the features based on their magnitude, and displays the top 10 most important features using feature_importance.head(10).

The main difference between the two approaches is:

RFE is a wrapper method that uses an external feature selection technique to recursively eliminate features from the model based on their importance.
Lasso (L1) regularization is an embedded method that performs feature selection as part of the model training process by shrinking the coefficients of less important features to zero.
Both approaches can be effective for feature selection, but they have different characteristics and trade-offs. RFE is more flexible as it can be used with any estimator or model, but it can be computationally expensive, especially for high-dimensional data. Lasso regularization is more efficient and integrated into the model training process, but it is specific to linear models like logistic regression.